.welcome_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #232e3e;
    color: rgb(252, 252, 252);
    font-size: 16px;
    font-family: sans-serif;
    width: 100% !important;
}

.semi_rounded_pill {
    border-radius: 5px !important;
}
.border_redius_none {
    border-radius: 0px !important;
}

.disabled_message {
    font-size: 15px;
}
@media (max-width: 768px) {
    .disabled_message {
        font-size: 0.25rem;
    }
    .disabled_message strong {
        display: block;
        font-size: 0.75rem;
    }
}

.select2-container--default .select2-selection--single {
    height: 37px !important;
    border: 1px solid #e1e1e1 !important;
    border-radius: 6px !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 35px !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 6px !important;
}

.selectize-control.multi .selectize-input [data-value] {
    background-color: #0059ffffff !important;

    background-image: linear-gradient(to bottom, #0059ffffff, #0059ffffff);
}

/* Upload Cover */
.cover-upload {
    width: 600px;
    height: 325px;
    background-color: #e7e7e7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.cover-label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(138, 138, 138);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    position: absolute;
    cursor: pointer;
}

.upload-text {
    pointer-events: none;
}

.cover-upload img {
    height: 325px;
}

/* gallery image upload */

.upload__box {
    padding: 0;
}

.upload__inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload__btn {
    display: block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    min-width: 116px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px solid;
    background-color: transparent;
    border-color: #f2f2f2;
    font-size: 14px;
    color: #000;
}

.upload__btn:hover {
    background-color: unset;
    color: #4045ba;
    transition: all 0.3s ease;
}

.upload__btn-box {
    margin-bottom: 10px;
}

.upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.upload__img-box {
    width: 150px;
    padding: 0 10px;
    margin-bottom: 12px;
}

.upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}

.upload__img-close:after {
    content: "✖";
    font-size: 14px;
    color: white;
}

.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}

.png_icon {
    width: 40px;
    height: 40px;
}

.productNameImage {
    width: 40px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #00a552;
}

.product_body {
    border: 1px dashed gray;
}

.product_card {
    padding: 5px 10px;
}

.cartItem img {
    width: 30px;
    border-radius: 5px;

    position: relative;
    display: inline-block;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 0.3125rem;
}

.cartItem-body {
    display: inline-block;
    line-height: 10px;
}
.cartItem-body h5 {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
}
.cartItem-body span {
    font-size: 13px;
}
.cart_table .name {
    width: 60%;
}
.cart_table .qty {
    width: 12%;
}
.cart_table .qty input {
    width: 50px;
    height: 30px;
    text-align: center;
}
.cart_table .del {
    width: 12%;
}

.title-color {
    color: #334257;
}

.font-weight-normal {
    font-weight: 400 !important;
}
.text-capitalize {
    text-transform: capitalize !important;
}



.badge-soft-info {
    color: #ffffff;
    background-color: rgb(0 201 219 / 42%);
}

.badge-soft-warning Specificity: (0, 1, 0) {
    color: #f5ca99;
    background-color: rgba(245, 202, 153, 0.1);
}

.badge-soft-danger {
    color: #ffffff;
    background-color: rgb(237 76 120 / 49%);
}

.badge-soft-warning {
    color: #ffffff !important;
    background-color: rgb(255 136 0 / 64%);
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 5px;
    font-weight: 300;
}
